@tailwind base;
@tailwind components;
@tailwind utilities;

/* Logo font */
@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap');

.bagel-fat-one-regular {
    font-family: 'Bagel Fat One', serif;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
        format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@layer components {
    .title {
        @apply font-semibold text-sm md:text-base;
    }
    .main-text {
        @apply font-medium text-xs md:text-sm;
    }
    .sub-text {
        @apply text-[8px]/3 md:text-[10px]/4;
    }

    .default-size {
        @apply w-[90vw] md:w-[80vw] md:max-w-[1344px] min-h-screen md:min-h-[606px] flex gap-6 md:gap-0 md:justify-between mx-auto md:mt-[2vh];
    }

    .btn {
        @apply border p-1.5 flex justify-center items-center font-bold text-xs md:text-sm rounded-xl md:rounded-[14px] transition whitespace-nowrap;
    }
    .btn-primary {
        @apply border-main-500 bg-main-500 text-neutral-100 hover:border-main-600 hover:bg-main-600;
    }
    .btn-secondary {
        @apply border-main-300 bg-main-300 text-neutral-100 hover:border-main-600 hover:bg-main-600 hover:text-neutral-100;
    }
    .btn-point {
        @apply border-point-500 bg-point-500 text-neutral-100 hover:border-point-600 hover:bg-point-600;
    }
    .btn-negative {
        @apply border-neutral-300 bg-neutral-300 text-main-500 hover:border-red-300 hover:bg-red-300 hover:text-neutral-100;
    }
    .btn-neutral-1 {
        @apply border-neutral-600 bg-neutral-600 text-neutral-100 hover:border-neutral-700 hover:bg-neutral-700;
    }
    .btn-neutral-2 {
        @apply border-neutral-400 bg-neutral-400 text-neutral-100 hover:border-neutral-700 hover:bg-neutral-700;
    }
    .btn-neutral-3 {
        @apply border-neutral-600 bg-neutral-100 text-neutral-600 hover:border-neutral-700 hover:bg-neutral-700 hover:text-neutral-100;
    }

    .badge {
        @apply rounded-full flex justify-center items-center bg-neutral-600 text-neutral-100 font-bold text-[8px] w-7 h-5 md:text-[10px] md:w-8 md:h-6 whitespace-nowrap;
    }
    .badge-lg {
        @apply rounded-full flex justify-center items-center bg-neutral-600 text-neutral-100 font-bold text-[12px] w-10 h-7 md:text-[14px] md:w-12 md:h-8 whitespace-nowrap;
    }

    .card {
        @apply rounded-[18px] md:rounded-2xl bg-neutral-100;
    }

    .input-field {
        @apply block w-full rounded-xl md:rounded-[14px] bg-neutral-100 px-2 py-1.5 text-xs md:text-sm border border-neutral-400 focus:outline-point-400;
    }
    .textarea-field {
        @apply block w-full rounded-xl md:rounded-[14px] bg-neutral-100 px-2 py-1.5 text-xs md:text-sm border border-neutral-400 focus:outline-point-400;
    }

    .tap-onclick {
        @apply w-24 md:w-28 h-8 rounded-t-xl bg-neutral-600 text-neutral-100 transition active:bg-neutral-700 hover:bg-neutral-700;
    }
    .tap-default {
        @apply w-24 md:w-28 h-8 rounded-t-xl bg-neutral-400 text-neutral-100 transition active:bg-neutral-700 hover:bg-neutral-700;
    }

    .viewmode-onclick {
        @apply text-neutral-600 transition active:text-neutral-700 hover:text-neutral-700;
    }
    .viewmode-default {
        @apply text-neutral-400 transition active:text-neutral-700 hover:text-neutral-700;
    }

    .doing-on {
        @apply w-6 h-6 flex justify-center items-center rounded-full bg-orange-100 text-orange-400;
    }
    .doing-off {
        @apply w-6 h-6 flex justify-center items-center rounded-full bg-neutral-200 text-neutral-300;
    }
    .done-on {
        @apply w-6 h-6 flex justify-center items-center rounded-full bg-green-100 text-green-400;
    }
    .done-off {
        @apply w-6 h-6 flex justify-center items-center rounded-full bg-neutral-200 text-neutral-300;
    }
    /* 
    .check-on {
        @apply w-6 h-6 flex justify-center items-center rounded-full bg-green-400 text-neutral-100;
    }
    .check-off {
        @apply w-6 h-6 flex justify-center items-center rounded-full bg-neutral-300 text-neutral-100 p-0.5;
    }
    .note-on {
        @apply flex justify-center items-center text-neutral-800 text-sm;
    }
    .note-off {
        @apply flex justify-center items-center text-neutral-400 text-sm;
    } */
}

body {
    background-color: #f9f7ff;
    color: #121212;
    font-family: 'Pretendard', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a,
button {
    cursor: pointer;
}

.snap-y {
    scroll-snap-type: y mandatory; /* 또는 proximity */
    overflow-y: auto;
}

.snap-start {
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.fade-in-section {
    opacity: 0;
    transform: translateY(30px);
    transition:
        opacity 1s ease-out,
        transform 1.5s ease-out;
    will-change: opacity, transform;
}

.fade-in-section.is-visible {
    opacity: 1;
    transform: translateY(0);
}
