@tailwind base;
@tailwind components;
@tailwind utilities;

/* Logo font */
@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap');

.bagel-fat-one-regular {
    font-family: 'Bagel Fat One', serif;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff')
        format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
        format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff')
        format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff')
        format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff')
        format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff')
        format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff')
        format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@layer components {
    body {
        @apply bg-main-100 dark:bg-neutral-700 text-neutral-900 dark:text-neutral-100;
    }

    .title {
        @apply font-semibold text-sm md:text-base;
    }
    .main-text {
        @apply font-medium text-xs md:text-sm;
    }
    .sub-text {
        @apply text-[10px]/3 md:text-[12px]/4;
    }

    .default-size {
        @apply w-[90vw] min-w-[336px] md:w-[80vw] md:max-w-[1344px] h-full md:min-h-[640px] flex gap-6 md:gap-0 md:justify-between mx-auto mt-3 md:mt-2;
    }

    .header {
        @apply backdrop-blur-sm bg-gradient-to-b from-main-100 from-60% via-main-100/90 via-90% to-main-100/80 dark:text-neutral-100 dark:from-neutral-700 dark:from-60% dark:via-neutral-700/90 dark:via-90% dark:to-neutral-700/80;
    }

    .btn {
        @apply box-border p-1.5 flex justify-center items-center font-medium h-[30px] md:h-[34px] text-xs md:text-sm rounded-xl md:rounded-[13px] transition whitespace-nowrap drop-shadow-sm;
    }
    .btn-primary {
        @apply bg-main-500 text-neutral-100  hover:bg-main-600 dark:bg-main-500 dark:hover:bg-main-400;
    }
    .btn-secondary {
        @apply bg-main-400 text-neutral-100  hover:bg-main-500 dark:bg-main-600 dark:hover:bg-main-500;
    }
    .btn-point {
        @apply bg-point-500 text-neutral-100 hover:bg-point-600 dark:bg-point-500 dark:text-neutral-100 dark:hover:bg-point-400;
    }
    .btn-negative {
        @apply bg-neutral-200 text-main-500 hover:bg-red-300 hover:text-neutral-100 dark:bg-neutral-700 dark:text-main-300 dark:hover:bg-red-300 dark:hover:text-neutral-100;
    }
    .btn-neutral-1 {
        @apply bg-neutral-700 text-neutral-100 hover:bg-neutral-800 dark:bg-neutral-200 dark:text-neutral-900 dark:hover:bg-neutral-100;
    }
    .btn-neutral-2 {
        @apply bg-neutral-100 hover:bg-neutral-700 hover:text-neutral-100 dark:bg-neutral-600 dark:hover:bg-neutral-100 dark:hover:text-neutral-900;
    }
    .btn-neutral-3 {
        @apply bg-neutral-100 hover:bg-neutral-400 hover:text-neutral-100;
    }
    .btn-action {
        @apply bg-transparent text-neutral-400 hover:text-point-600 dark:text-neutral-300 dark:hover:text-point-400;
    }
    .btn-action-active {
        @apply bg-transparent text-point-600 dark:text-point-400;
    }

    .badge {
        @apply rounded-full flex justify-center items-center bg-neutral-700 text-neutral-100 font-bold text-[8px] w-7 h-5 md:text-[10px] md:w-9 md:h-6 whitespace-nowrap dark:bg-neutral-200 dark:text-neutral-900;
    }

    .card {
        @apply rounded-[18px] md:rounded-2xl bg-neutral-100 dark:bg-neutral-800 drop-shadow-sm;
    }

    .input-field {
        @apply block w-full rounded-xl md:rounded-[13px] bg-neutral-100 px-2 py-1.5 text-xs md:text-sm border border-neutral-400 focus:outline-point-400 dark:text-neutral-900;
    }
    .textarea-field {
        @apply block w-full rounded-xl md:rounded-[13px] bg-neutral-100 px-2 py-1.5 text-xs md:text-sm border border-neutral-400  focus:outline-point-400 dark:text-neutral-900;
    }

    .tap-onclick {
        @apply w-24 md:w-28 h-8 rounded-t-xl bg-main-500 text-neutral-100 transition hover:bg-main-600 dark:bg-main-500 dark:hover:bg-main-400 drop-shadow-sm;
    }
    .tap-default {
        @apply w-24 md:w-28 h-8 rounded-t-xl bg-main-300 text-neutral-100 transition hover:bg-main-600 dark:bg-main-600 dark:hover:bg-main-400 drop-shadow-sm;
    }

    .viewmode-onclick {
        @apply text-neutral-700 transition hover:text-neutral-900 dark:text-neutral-200 dark:hover:text-neutral-100;
    }
    .viewmode-default {
        @apply text-neutral-500 transition  hover:text-neutral-900 dark:text-neutral-500  dark:hover:text-neutral-100;
    }

    .doing-on {
        @apply w-5 h-5 md:w-6 md:h-6 flex justify-center items-center rounded-full bg-pink-100 text-pink-500;
    }
    .doing-off {
        @apply w-5 h-5 md:w-6 md:h-6 flex justify-center items-center rounded-full bg-neutral-200 text-neutral-300;
    }
    .done-on {
        @apply w-5 h-5 md:w-6 md:h-6 flex justify-center items-center rounded-full bg-blue-100 text-blue-300;
    }
    .done-off {
        @apply w-5 h-5 md:w-6 md:h-6 flex justify-center items-center rounded-full bg-neutral-200 text-neutral-300;
    }
    .over-on {
        @apply w-5 h-5 md:w-6 md:h-6 flex justify-center items-center rounded-full bg-neutral-200 text-neutral-600;
    }
    .over-off {
        @apply w-5 h-5 md:w-6 md:h-6 flex justify-center items-center rounded-full bg-neutral-200 text-neutral-300;
    }
    /* 
    .check-on {
        @apply w-6 h-6 flex justify-center items-center rounded-full bg-green-400 text-neutral-100;
    }
    .check-off {
        @apply w-6 h-6 flex justify-center items-center rounded-full bg-neutral-300 text-neutral-100 p-0.5;
    }
    .note-on {
        @apply flex justify-center items-center text-neutral-800 text-sm;
    }
    .note-off {
        @apply flex justify-center items-center text-neutral-400 text-sm;
    } */
}

html,
body {
    transition:
        background-color 0.4s ease,
        color 0.4s ease;
}

body {
    font-family: 'Pretendard', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a,
button,
Link {
    cursor: pointer;
}

.snap-y {
    scroll-snap-type: y mandatory; /* 또는 proximity */
    overflow-y: auto;
}

.snap-start {
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.fade-in-section {
    opacity: 0;
    transform: translateY(30px);
    transition:
        opacity 1s ease-out,
        transform 1.5s ease-out;
    will-change: opacity, transform;
}

.fade-in-section.is-visible {
    opacity: 1;
    transform: translateY(0);
}

.hide-nav {
    transform: translateY(-100%); /* 네비게이션 바를 위로 숨김 */
    transition: transform 0.4s ease; /* 부드러운 전환 효과 */
}
